@media only screen and (min-width: 32.5em){
    h1{
       font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
     }
    header, footer{
        border-radius: 5px;
    }
    img {
        float: right;
        filter: drop-shadow(0 4px 8px black);
      }

    #lastModified, #year, #homepagefooter{
        font-size: 14px;
      }
  }