@media only screen and (min-width: 45em) {
  body {
    max-width: 64em;
  }
  h1{
    padding-top: 2rem;
  }


  main {
    max-width: 64em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 40px 40px 650px 370px;
  }

  .box3 {
    grid-column: 3;
    grid-row: 1 / 6;
  }

  .title3 {
    grid-column: 3;
    grid-row: 1;
  }

  .site3 {
    grid-column: 3;
    grid-row: 2;
  }

  .img3 {
    grid-column: 3;
    grid-row: 4;
  }

  .link3 {
    grid-column: 3;
    grid-row: 3;
  }

  .exp3 {
    grid-column: 3;
    grid-row: 5;
  }
}