@media only screen and (min-width: 32em) {
  body {
    max-width: 37em;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  header {
    height: 160px;
  }

  img {
    justify-self: center;
  }

  main {
    max-width: 37em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 35px 35px 555px 335px 80px 35px 35px 555px 300px;
    column-gap: 10px;
    margin: 5px;
    background-color: white;
    border: none;
  }
  .box1,
  .box2,
  .box3 {
    border: 2px solid rgb(62, 107, 107);
    border-radius: 7px;
    margin: 3px;
    background-color: rgba(170, 221, 221, .3);
  }
  hr{
    display: none;
  }

  .box1 {
    grid-column: 1;
    grid-row: 1 / 6;
  }

  .title1 {
    grid-column: 1;
    grid-row: 1;

  }

  .site1 {
    grid-column: 1;
    grid-row: 2;
  }

  .link1 {
    grid-column: 1;
    grid-row: 3;
  }

  .img1 {
    grid-column: 1;
    grid-row: 4;
  }

  .exp1 {
    grid-column: 1;
    grid-row: 5;
  }


  .box2 {
    grid-column: 2;
    grid-row: 1 / 6;
  }

  .title2 {
    grid-column: 2;
    grid-row: 1;

  }

  .site2 {
    grid-column: 2;
    grid-row: 2;
  }

  .link2 {
    grid-column: 2;
    grid-row: 3;
  }

  .img2 {
    grid-column: 2;
    grid-row: 4;
  }

  .exp2 {
    grid-column: 2;
    grid-row: 5;
  }


  .box3 {
    grid-column: 1;
    grid-row: 6 / 11;
  }

  .title3 {
    grid-column: 1;
    grid-row: 6;

  }

  .site3 {
    grid-column: 1;
    grid-row: 7;
  }

  .link3 {
    grid-column: 1;
    grid-row: 8;
  }

  .img3 {
    grid-column: 1;
    grid-row: 9;
  }

  .exp3 {
    grid-column: 1;
    grid-row: 10;
  }
}