  body {
    max-width: 700px;
    margin: auto;
  }

  p,
  #lastModified,
  #year,
  #lesson2footer,
  a {
    font-family: 'Montserrat', sans-serif;
  }

  a {
    padding: 3px;
    font-size: 10px;
  }

  header,
  footer {
    background-color: rgb(94, 194, 194);
  }

  header {
    margin-top: 10px;
    height: 120px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Architects Daughter', cursive;
    margin: .35rem;
    text-align: center;
  }

  h1 {
    font-size: 1.75rem;
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  #lastModified,
  #year,
  #lesson2footer,
  .byuiLink {
    font-size: 1rem;
    display: inline-block;
  }

  p {
    margin: 18px;
  }

  .link1,
  .link2,
  .link3 {
    display: block;
    text-align: center;
  }

  footer {
    text-align: center;
    padding: 5px 50px 15px
  }

  .byuiLink {
    color: black;
  }



  
  main {
    margin: 5px;
    background-color:  rgba(170, 221, 221, .3);
    border: 2px solid rgb(62, 107, 107);
  }
  
  h3,
  h4,
  a {
    align-self: center;
  }
  hr{
    border: 1px solid rgb(62, 107, 107);
  }
  .title1,
  .site1,
  .link1,
  .img1,
  .exp1,
  .title2,
  .site2,
  .link2,
  .img2,
  .exp2,
  .title3,
  .site3,
  .link3,
  .img3,
  .exp3 {
      padding: 5px;
      position: relative;
      z-index: 1000;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    max-width: 400px;
    border: 1px solid rgb(62, 107, 107);
    height: auto;
    padding: 0;
  }