@media only screen and (min-width: 32.5em) {
  body {
    max-width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
  p{
    font-size: .7rem;
  }
  #logo {
    max-width: 15%;
    float: left;
    padding: 10px 10px;
    max-height: 100px;
  }

  /* Article  box */
  #janice {
    max-width: 55%;
    float: left;
    margin: 1.5em 1em;
  }

  /* NAV  */

  nav ul {
    display: flex;
  }

  nav {
    max-width: 100%;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }
  
  /* Contact box */
  .social {
    display: inline;
    width: 45px;
  }

  #socialiconsdiv {
    display: flex;
    width: 165px;
    margin: 0;
    padding: 5px;
  }

  .contactinfo {
    height: 300px;
  }

  .contact {
    display: block;
    text-align: left;
  }

  .contacticon {
    width: 15px;
  }

  #map {
    display: inline-flex;
    float: left;
    width: 40%;
    margin: 1.5em;
    border: 1px solid black;
    box-shadow: 0 0 15px #142e46;
  }

  #address {
    text-align: left;
  }
  div.towns{
    margin: 2rem;
    
  }
 section.city{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   padding: 2rem;
 }
 div.towns section:nth-of-type(odd) p, div.towns section:nth-of-type(odd) h3, div.towns section:nth-of-type(odd) h2{
  grid-column: 1;
}

div.towns section:nth-of-type(even) p, div.towns section:nth-of-type(oven) h3, div.towns section:nth-of-type(even) h2{
  grid-column: 2;
}

div.towns section:nth-of-type(odd) img {
  grid-column: 2;
  grid-row: 1/10;
  justify-self: center;
  align-self: center;
}

div.towns section:nth-of-type(even) img {
  grid-column: 1;
  grid-row: 1/10;
  justify-self: center;
  align-self: center;
}


div.towns section h2 {
  align-self: end;
  margin: 0;
}
#hero {
  width: 98%;
}
}

