body {
    margin: auto;
    background: #90b4d8;
}

header,
footer {
    background-color: #f3c155;
}

header {
    margin-top: 10px;
    height: 125px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    margin: .35rem;
}

h1 {
    font-size: 1.75rem;
    padding: 10px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    margin: 12px;
    font-family: 'Barlow', sans-serif;
}

footer {
    padding: 5px 50px 15px;
    text-align: center;
}

main {
    max-width: 100%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

#logo {
    max-width: 20%;
    float: left;
    padding: 10px 7%;
}

/* NAV */
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #2e6ca3;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #f5f1d8;
    font-weight: 700;
}

.navigation a:hover {
    color: black;
    background-color: #f5f1d8;
}

.responsive li {
    display: block;
}

.active {
    border: 1px solid black;
    border-radius: 2px;
}

/* Article Box */
.article {
    background-color: #f5f1d8;
    z-index: 1;
  }
  
  #articlecontent {
    padding: 1em;
  }
  
  #articletitle {
    padding-top: 1em;
  }
  
  #janice {
    width: 75%;
    margin: 1.5em auto;
    box-shadow: 0 0 15px #142e46;
  }
  
  #byline {
    color: #2e6ca3;
    padding-left: 1em;
  }

/* END NAV */
/* Contact Info  */
.social {
    display: inline-block;
    width: 64px;
}

#socialiconsdiv {
    width: 270px;
    margin: auto;
    max-width: 100%;
}

.contactinfo {
    height: 250px;
    background-color: #f0ac17;
    margin-bottom: 1rem;
}

.contact,
.contacticon {
    display: inline-block;
}

.contacticon {
    width: 18px;
}

.contact {
    padding: 5px;
    margin: auto;
    text-align: center;
    width: 100%;
}

#map {
    display: none;
}

#contacttitle,
#phoneandemail {
    padding: .5em
}

.wireframes{
    font-family: 'Barlow', sans-serif;
    color: black;
}
.wireframes:hover {
    color: #f0ac17;
    background-color: #2e6ca3;
    font-size: 24px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
}
div.towns{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    text-align: center;
    max-width: 100%;
  }
  .city{
    background-color: #2e6ca3;
  }
  .towns:nth-child(odd) img {
    max-width: 300px;
    grid-column: 2;
  }

  .herodiv {
    margin: auto;
    position: relative;
    width: 100%;
  }