/* #e7f0ed, #e7ffed (data rows)  #628ca6, #7fb9c2 */

h1{
    font-size: 40px;
    color: #628ca6;
    font-family: Ubuntu, sans-serif;
    text-align: center;
}
table{
    width: 270px;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    margin: auto;
    line-height: 30px;
    box-shadow: 7px 5px 10px #628ca6;
}
caption{
    column-span: all;
    color: black;
    font-size: 25px;
    background-color: #7fb9c2;
    line-height: 40px;
    font-weight: bold;
}
tfoot{
    background-color: #7fb9c2;
    font-size: 11px;
    line-height: 25px;
}
table, th, td{
    border: 1px solid rgb(175, 175, 175);
    border-collapse: collapse;
}

tbody tr:nth-child(4) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}
th{
    background-color: #628ca6;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
tbody tr:nth-child(5) td:nth-child(1) {
    font-style: italic;
}
.datarow{
    background-color: #e7ffed;
}
tr.datarow:nth-child(even){
    background-color: #e7f0ed;
}
