@media only screen and (min-width: 32em) {
  body {
    max-width: 80%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }

}